
* {
    box-sizing: border-box;
}

body {
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    background-color: #f7f7f7;
}

.document {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2.5em;
    right: 0;
    overflow: hidden;
}

.help {
    position: absolute;
    top: calc(100% - 2.5em);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f7f7;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.helpOption {
    background-color: #f7f7f7;
    border: solid #555 2px;
    border-radius: 10px;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    display: block;
    line-height: 1.8em;
    margin: 3px;
    padding: 1px 10px;
}

.columnsViewport {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.columnsBacking {
    position: absolute;
    left: 0;
    height: 2px;
    width: 5000px;
}

.column {
    position: absolute;
    width: 600px;
    height: 100%;
    padding: 20px;
    border-right: solid #777 4px;
    overflow: auto;
}

.columnActive {
    border-right: dotted #777 4px;
    background-color: #fff;
}

.options {
    padding: 0;
    margin: 0;
}

.optionItem {
    list-style-type: none;
}

.option {
    display: block;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    border: solid #777 4px;
    padding: 10px;
    margin: 4px;
}

.option:hover {
    background-color: #eee;
}

.optionActive {
    border-style: dotted;
}

