
* {
    box-sizing: border-box;
}

body {
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
}

.column {
    position: absolute;
    width: 600px;
    height: 100%;
    padding: 20px;
    border-right: solid #777 4px;
    overflow: auto;
}

.columnActive {
    border-right: dotted #777 4px;
}

.options {
    padding: 0;
    margin: 0;
}

.optionItem {
    list-style-type: none;
}

.option {
    display: block;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    border: solid #777 4px;
    padding: 10px;
    margin: 4px;
}

.option:hover {
    background-color: #eee;
}

.optionActive {
    border-style: dotted;
}

